#trends-ideogram {
  position: unset !important;
}

#_ideogram {
 position: relative;
 left: 100px;
}

#_ideogramMiddleWrap {
  width: 100%;
}

#_ideogramInnerWrap {
  width: 100%;
}

#trends-ideogram {font: 14px Arial}
#trends-ideogram a, #trends-ideogram a:visited {
  text-decoration: none;
  color: #0366d6;
}

.gene-trends.light-card {
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  box-shadow: none;
}
